*{
	word-break: break-all;
}
.el-pagination {
	padding: 0;
	margin: 10px 0;
	text-align: right;
}
.button-point {
	cursor: pointer;
}
.el-radio__input.is-checked .el-radio__inner {
	border-color: #ff8200;
	background: #ff8200;
}
.el-radio__input.is-checked+.el-radio__label {
	color: #ff8200;
}
.el-radio__inner:hover {
	border-color: #ff8200;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
	background-color: #ff8200;
	border-color: #ff8200;
}
.el-checkbox__input.is-checked+.el-checkbox__label {
	color: #ff8200;
}

.el-button--text {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ff8200;
	line-height: 34px;
}

.el-button--text:focus, .el-button--text:hover {
	color: #FFBA73;
}

.el-button--primary {
	color: #fff;
	background-color: #ff8200;
	border-color: #ff8200;
}

.el-button--primary:focus, .el-button--primary:hover {
	background: #FFBA73;
	border-color: #FFBA73;
	color: #fff;
}

a {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #ff8200;
	line-height: 34px;
}

a:hover {
	color: #FFBA73;
}
